@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

body {
    background: #000316;
    display: flex;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    align-items:center;

}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.botaoMoeda {
    background: none;
    border: none;
    cursor: pointer;
}

.botaoMoeda img {
    width: 300px;
}

.upgrade {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
}

.upgrade button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(65, 63, 63);
    border: none;
    cursor: pointer;
}

.upgrade button:hover {
    background-color: #959292;
}

.moeda {
    height: 50px;
    width: 50px;
    background-size: 650% 135%;
    background-image: url(../images/spirte_moedas.png);
    background-repeat: no-repeat;
    background-position: 1.19% 50%;
    animation: girar-moeda 1s infinite linear;
}

.moeda.pular {
    animation: girar-moeda 1s infinite linear, pular-moeda 2s infinite linear;
}


.moeda.subir {
    animation: subir-moeda 1.5s linear;
}


@keyframes pular-moeda {
    0% {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 20px;
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes subir-moeda {
    0% {
        top: 0;
    }

    100% {
       top: 200px;
    }
}

@keyframes girar-moeda {

    0%,
    16.29% {
        background-position-x: 1.19%;
    }

    16.3%,
    33.29% {
        background-position-x: 20%;
    }

    33.3%,
    49.99% {
        background-position-x: 40%;
    }

    50%,
    66.59% {
        background-position-x: 60%;
    }

    66.6%,
    83.29% {
        background-position-x: 80%;
    }

    83.3%,
    99.99% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 1.19%;
    }
}