@font-face {
  font-family: Minecraft;
  src: url(../fonts/Minecraft-Regular.ttf);
}

:root {
  --amarelo: #eaff00;
  --azul: #0400ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Minecraft";
  color: #fff;
}

body {
  background: #000316;
  display: flex;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

h1, h2 {
  margin-bottom: 32px;
  color: var(--amarelo);
}

.placar {
  margin-bottom: 100px;
}

.placar > div {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.pontuacao {
  display: flex;
  gap: 5px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}

.botao-moeda {
  background: none;
  border: none;
  cursor: pointer;
}

.botao-moeda img {
  width: 300px;
  height: 300px;
  pointer-events: none;
}

.fim-de-jogo {
  display: none;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  color: var(--azul);
  font-size: 2rem;
  text-align: center;
}

.upgrades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.upgrades button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--amarelo);
  outline: 1px solid var(--azul);
  transition: 0.1s ease-in;
}

.upgrades button:not(:last-of-type) {
  margin-bottom: 32px;
}

.upgrades button:hover {
  transform: scale(1.02);
}

.moeda {
  position: absolute;
  margin-top: -3px;
  margin-left: -30px;
  height: 25px;
  width: 25px;
  background-size: 650% 135%;
  background-image: url(../images/spirte_moedas.png);
  background-repeat: no-repeat;
  background-position: 1.19% 50%;
  animation: girar-moeda 1s infinite linear;
}

@keyframes girar-moeda {
  0%,
  16.29% {
    background-position-x: 1.19%;
  }

  16.3%,
  33.29% {
    background-position-x: 20%;
  }

  33.3%,
  49.99% {
    background-position-x: 40%;
  }

  50%,
  66.59% {
    background-position-x: 60%;
  }

  66.6%,
  83.29% {
    background-position-x: 80%;
  }

  83.3%,
  99.99% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 1.19%;
  }
}